/* add css module styles here (optional) */

.primary {
  color: blue;
  border-color: blue;
  border-radius: 6px;
  height: 5%;
  width: 5%;
}

.dashed{
  border-radius: 6px;
  height: 5%;
  width: 5%;
  border-style: dashed;
}

.link{
  border: none;
  height: 5%;
  width: 5%;
  color: blue;
  text-decoration-line: underline;
  

}
.text{
  border: none;
  height: 5%;
  width: 5%;
  background-color:white
}